@import '../../../styles/colors';
@import '../../../styles/variables';

.planetgroup{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  
};


#planetsHere {
  .hide{
    display: none;
  }
  .show{
    display: block;
  }

}
.planetCards{
  width: 250px;
  height: 250px;
  margin: 1%;
  display: inline-flex;

  *{
    pointer-events: none;
  }

  .card-title{
    text-align: center;
    color: white;
  }
  .card-body{
    background-color: rgb(24, 13, 114);
  }
  img{
    height: 250px;
  }
}

.solarPageTitle{
  text-align: center;
  box-shadow: $box-shadow;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.singCard{
  width: 300px;
  height: 600px;
  margin: 1%;
  display: flex;
  text-align: center;
  box-shadow:  0px 5px 5px 10px white;
  color: silver;
}