@import '../../../styles/colors';
@import '../../../styles/variables';

.planetgroup{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  
};


#planetsHere {
  .hide{
    display: none;
  }
  .show{
    display: block;
  }

}
.planetCards{
  width: 250px;
  height: 250px;
  margin: 1%;
  display: inline-flex;

  *{
    pointer-events: none;
  }

  .card-title{
    text-align: center;
    color: white;
  }
  .card-body{
    background-color: rgb(24, 13, 114);
  }
  img{
    height: 250px;
  }
}

.solarPageTitle{
  text-align: center;
  box-shadow: $box-shadow;
}

